.loader {
    margin: 2rem;
    width: 50px;
    height: 50px;
    border: 5px solid transparent;
    border-color: grey transparent grey transparent;
    border-radius: 50%;
    box-shadow: 0 0 1rem rgb(0 0 255 / 40%);
    position: relative;

    animation: spin 1.5s linear infinite;
}

.loader::after {
    content: '⚙️';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    animation: pulse 1.5s ease-in-out infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes pulse {

    0%,
    100% {
        transform: translate(-50%, -55%) scale(1);
    }

    50% {
        transform: translate(-50%, -55%) scale(1.25);
    }

}

.loader,
.loader-t {
    transform-origin: 50% 50%;
}


.loader-t {
    margin: 2rem;
    width: 50px;
    height: 50px;
    border: 5px solid transparent;
    border-color: grey transparent grey transparent;
    border-radius: 50%;
    transition: transform 1.5s linear;
    box-shadow: 0 0 1rem rgb(0 0 255 / 40%);
    position: relative;
}

.loader-t::after {
    content: '⚙️';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%) scale(0);
    transition: transform 1.5s ease-in-out;
    font-size: 2rem;
}

.loader-t:hover {
    transform: rotate(360deg);
}

.loader-t:hover::after {
    transform: translate(-50%, -55%) scale(1.5);
}