:root {

    --background-dark: #1B263B;
    --background-light: #F0FBFD;
    --accent-1: #C8F5F9;
    --accent-2: #FCE68F;
    --money-green1: #A3D181;
    --money-green2: #387E4D;
    --text-light: #E7E9EB;

    --font: "Montserrat",
        system-ui,
        -apple-system,
        Segoe UI,
        Roboto,
        Helvetica,
        Arial,
        sans-serif;
}

body {
    margin: 0px;
    min-width: 300px;
}

nav,
footer {
    margin: 0px;
}


.copy {
    margin: 1rem;
}

html {
    font-family: var(--font);
    background-color: var(--background-light);
    max-width: 65rem;
    margin: 0 auto;
}


.background-dark {
    padding: 1rem;
    background-color: var(--background-dark);
    color: var(--text-light);
    border: solid 3px var(--money-green1);
    border-radius: 1rem;
}

.background-light {
    padding: 1rem;
    background-color: white;
    border: solid 3px var(--background-dark);
    border-radius: 1rem;
}

.accent-1 {
    padding: 1rem;
    background-color: var(--accent-1);
    border: solid 3px black;
    border-radius: 1rem;
}

.accent-2 {
    padding: 1rem;
    background-color: var(--accent-2);
    border: solid 3px black;
    border-radius: 1rem;
}

.money-green1 {
    padding: 1rem;
    background-color: var(--money-green1);
    border: solid 3px black;
    border-radius: 1rem;
}

.money-green2 {
    padding: 1rem;
    background-color: var(--money-green2);
    color: var(--text-light);
    border: solid 3px black;
    border-radius: 1rem;
}

.text-light {
    padding: 1rem;
    background-color: var(--text-light);
    border: solid 3px black;
    border-radius: 1rem;
}

.clean-h2 {
    margin-top: 0px;
}

.clean-h1-center {
    max-width: fit-content;
    margin: 0 auto;
    text-align: center;
}

.home-h1 {
    margin-right: 1rem;
    margin-left: 1rem;
}



.main-title-div {
    display: grid;
    grid-template-areas:
        "blank title hamburger";
    grid-template-columns: 1fr 2fr 1fr;
    background-color: var(--background-dark);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: var(--text-light);
    text-align: center;
    position: relative;
    border-bottom: 3px solid var(--money-green1);
}

.main-title {
    grid-area: title;
    margin-top: 0px;
    margin-bottom: 10px;
}

.responsive-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 92%;
    border-radius: 1rem;
    border: 3px solid var(--accent-2);
    cursor: pointer;
}

.hamburger-button {
    grid-area: hamburger;
    position: absolute;
    background-color: var(--accent-2);
    border: none;
    border-radius: 0 0 0.8rem 0.8rem;
    right: 1rem;
    bottom: -3rem;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    z-index: 1;
}

.hamburger-button::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger-button.show::before {
    content: "\00D7";
}

.nav-grid {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
        "logo btc-price btc-price";
    position: relative;
}

.nav-grid button {
    border-radius: 0.5rem;
}

.logo {
    grid-area: logo;
}

nav {
    grid-area: nav;
}

.btc-price {
    grid-area: btc-price;
    text-align: left;
    padding: 1rem;
}

.nav-bar {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    gap: 3px;
    border: 0;

    max-height: 0;
    overflow: hidden;
    padding: 0;
    margin-top: 0px;

    transition:
        max-height 0.4s ease,
        padding 0.4s ease,
        margin 0.4s ease,
        background-color 0.4s ease,
        border 0.4s ease-in-out,
        border-radius 0.4s ease-in-out;
}

.nav-bar.open {
    max-height: 200px;
    background-color: var(--background-dark);
    border-radius: 1rem;
    padding: 1rem;
    border: 1px solid;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.money-span {
    color: var(--money-green2);
}

.money-span-red {
    color: rgb(192, 5, 5);
}

.btc-label,
.btc-value {
    display: block;
}

.nav-page {
    display: block;
    background-color: var(--accent-1);
    font-family: var(--font);
    cursor: pointer;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 700;
    border: 1px solid black;
}


.loading-bar {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    width: 360px;
    margin: 0 auto;
    align-items: center;
    transform: scale();
}


.loading-bar img {
    position: relative;
    width: 100px;
    height: auto;
    flex: 0 0 auto;
}

.progress {
    font-size: 1.2rem;
    text-align: center;
}




.dollars {
    margin-left: -10px;
    margin-right: -10px;
}

.bitcoin-earth {
    grid-column: 1;
    width: 100px;
    height: auto;
}

.loading-bills {
    grid-column: 2;
    flex: 0 0 100px;
    display: flex;
    align-items: flex-end;
    overflow: visible;
}

.bitcoin-moon {
    grid-column: 3;
    margin-left: auto;
    scale: 1.15;
    z-index: 21;
    position: absolute;
    right: 0px;
    bottom: 0px;
}



.dollars {
    position: relative;
    margin-left: -80px;
}

.bar-inner {
    flex: 0 0 280px;
    display: flex;
    align-items: center;
}

.conclusion {
    text-align: center;
    font-size: 2rem;
}


/* === Footer === */
footer {
    text-align: center;
}

.footer-links {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.footer-links img {
    width: 2.5rem;
    height: auto;
}