:root {

    --background-dark: #1B263B;
    --background-light: #F0FBFD;
    --accent-1: #C8F5F9;
    --accent-2: #FCE68F;
    --money-green1: #A3D181;
    --money-green2: #29613a;
    --text-light: #E7E9EB;
    --red: #c00505;

    --font: "Montserrat",
        system-ui,
        -apple-system,
        Segoe UI,
        Roboto,
        Helvetica,
        Arial,
        sans-serif;
}

body {
    margin: 0px;
    min-width: 300px;
}

nav,
footer {
    margin: 0px;
}


.copy {
    margin: 1rem;
}

html {
    font-family: var(--font);
    background-color: var(--background-light);
    max-width: 65rem;
    margin: 0 auto;
}


.background-dark {
    padding: 1rem;
    background-color: var(--background-dark);
    color: var(--text-light);
    border: solid 3px var(--money-green1);
    border-radius: 1rem;
}

.background-light {
    padding: 1rem;
    background-color: white;
    border: solid 3px var(--background-dark);
    border-radius: 1rem;
}

.accent-1 {
    padding: 1rem;
    background-color: var(--accent-1);
    border: solid 3px black;
    border-radius: 1rem;
}

.accent-2 {
    padding: 1rem;
    background-color: var(--accent-2);
    border: solid 3px black;
    border-radius: 1rem;
}

.money-green1 {
    padding: 1rem;
    background-color: var(--money-green1);
    border: solid 3px black;
    border-radius: 1rem;
}

.money-green2 {
    padding: 1rem;
    background-color: var(--money-green2);
    color: var(--text-light);
    border: solid 3px black;
    border-radius: 1rem;
}

.nav-bar button[aria-current="page"] {
    background-color: var(--money-green1);
}

.nav-page:hover[aria-current="page"] {
    border-inline: 30px solid var(--money-green1);
}


.text-light {
    padding: 1rem;
    background-color: var(--text-light);
    border: solid 3px black;
    border-radius: 1rem;
}

.clean-h2 {
    margin-top: 0px;
}

.clean-h1-center {
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    max-width: 20rem;
}

.main-title-div {
    display: grid;
    grid-template-areas:
        "blank title hamburger";
    grid-template-columns: 1fr 2fr 1fr;
    background-color: var(--background-dark);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: var(--text-light);
    text-align: center;
    position: relative;
    border-bottom: 3px solid var(--money-green1);
}

.main-title {
    grid-area: title;
    margin-top: 0px;
    margin-bottom: 10px;
    min-width: 12rem;
}

.responsive-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 92%;
    border-radius: 1rem;
    border: 3px solid var(--accent-2);
    cursor: pointer;
}

.hamburger-button {
    grid-area: hamburger;
    position: absolute;
    background-color: var(--accent-2);
    border: none;
    border-radius: 0 0 0.8rem 0.8rem;
    right: 1rem;
    bottom: -3rem;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    z-index: 1;
}

.hamburger-button::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger-button.show::before {
    content: "\00D7";
}

.nav-grid {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
        "logo btc-price btc-price";
    position: relative;
}

.nav-grid button {
    border-radius: 0.5rem;
}

.logo {
    grid-area: logo;
}

nav {
    grid-area: nav;
}

.btc-price {
    grid-area: btc-price;
    text-align: left;
    padding: 1rem;
    align-self: center;
}

.nav-bar {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    gap: 3px;
    border: 0;

    max-height: 0;
    overflow: hidden;
    padding: 0;
    margin-top: 0px;

    transition:
        max-height 0.4s ease,
        padding 0.4s ease,
        margin 0.4s ease,
        background-color 0.4s ease,
        border 0.4s ease-in-out,
        border-radius 0.4s ease-in-out;
}

.nav-bar.open {
    max-height: 200px;
    background-color: var(--background-dark);
    border-radius: 1rem;
    padding: 1rem;
    padding-top: 2rem;
    border: 1px solid;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: -20px;
}

.money-span {
    color: var(--money-green2);
}

.money-span-red {
    color: var(--red);
}

.btc-label,
.btc-value {
    display: block;
}

.nav-page {
    display: block;
    background-color: var(--accent-1);
    font-family: var(--font);
    cursor: pointer;
    border-inline: 0px solid transparent;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 700;
    border: 1px solid black;
}


.loading-bar {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    width: 360px;
    margin: 0 auto;
    align-items: center;
    transform: scale();
}


.loading-bar img {
    position: relative;
    width: 100px;
    height: auto;
    flex: 0 0 auto;
}

.progress {
    font-size: 1.2rem;
    text-align: center;
}




.dollars {
    margin-left: -10px;
    margin-right: -10px;
}

.bitcoin-earth {
    grid-column: 1;
    width: 100px;
    height: auto;
}

.loading-bills {
    grid-column: 2;
    flex: 0 0 100px;
    display: flex;
    align-items: flex-end;
    overflow: visible;
}

.bitcoin-moon {
    grid-column: 3;
    margin-left: auto;
    scale: 1.15;
    z-index: 21;
    position: absolute;
    right: 0px;
    bottom: 0px;
}



.dollars {
    position: relative;
    margin-left: -80px;
}

.bar-inner {
    flex: 0 0 280px;
    display: flex;
    align-items: center;
}

.conclusion {
    text-align: center;
    font-size: 2rem;
}


/* === Footer === */
footer {
    text-align: center;
}

.footer-links {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.footer-links img {
    width: 2.5rem;
    height: auto;
}

.history {
    margin-bottom: 1rem;
}

.rant {
    font-size: 2rem;
    font-weight: 700;
}

form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: 0px 0px 0.5rem 1px rgb(0 0 0 / 50%);
    max-width: fit-content;
}



.form-h2 {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

textarea,
select,
input {
    width: 98%;
}

.form-button {
    width: 13rem;
    margin: 0 auto;
    font-size: 2rem;
    font-family: var(--font);
    padding: 0.5rem;
    padding-top: 0px;
    cursor: pointer;
    transition: background-color ease-in-out 0.5s,
        box-shadow ease-in-out 0.5s,
        width ease-in-out 0.5s;
}

.form-button:hover {
    background-color: var(--accent-2);
    box-shadow: 0 0 10px 5px var(--accent-1);
    width: 15rem;

}

label {
    margin: 0.3rem;
}

.results-div {
    text-align: center;
}

.membership-button {
    width: 4rem;
    height: 1.5rem;
    align-self: center;
    margin-left: 1rem;
    background-color: var(--accent-2);
    border: none;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    font-family: var(--font);
    font-weight: 600;
    font-size: 0.8;
}

.membership-button:hover {
    background-color: var(--accent-1);
}

.hidden {
    display: none;
}

.modal-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 0;
}

.modal-header h2 {
    grid-column: 2;
    margin: 0;
}

.modal-header button {
    padding-right: 1rem;
    height: auto;
    font-size: 3rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    justify-self: end;
    transition: scale 0.1s ease-in-out,
        color 0.3s ease-in-out;
}

.modal-header button:hover {
    color: var(--red);
    scale: 1.2;
}


dialog {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border-radius: 1rem;
    align-self: center;
    min-width: 300px;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
}