:root {

    --background-dark: #1B263B;
    --background-light: #F0FBFD;
    --accent-1: #C8F5F9;
    --accent-2: #FCE68F;
    --money-green1: #A3D181;
    --money-green2: #387E4D;
    --text-light: #E7E9EB;






    /*             <p class="background"><strong>Background: </strong>#1B263B</p>
            <p class="light-background"><strong>Light Background Sections: </strong>#F0FBFD</p>
            <p class="accent-1"><strong>Accent 1: </strong>#C8F5F9</p>
            <p class="accent-2"><strong>Accent 2: </strong>#FCE68F</p>
            <p class="money-green1"><strong>Money Green 1: </strong>#A3D181</p>
            <p class="money-green2"><strong>Money Green 2: </strong>#387E4D</p>
            <p class="text-light"><strong>Text Light: </strong>#E7E9EB</p> */


    --font: "Montserrat",
        system-ui,
        -apple-system,
        Segoe UI,
        Roboto,
        Helvetica,
        Arial,
        sans-serif;
}

body {
    margin: 0 auto;
}

nav,
main,
footer {
    margin: 0.5rem;
}

html {
    font-family: var(--font);
    background-color: var(--background-light);
}

.background-dark {
    padding: 1rem;
    background-color: var(--background-dark);
    color: var(--text-light);
    border: solid 3px black;
    border-radius: 1rem;
}

.background-light {
    padding: 1rem;
    background-color: var(--background-light);
    border: solid 3px black;
    border-radius: 1rem;
}

.accent-1 {
    padding: 1rem;
    background-color: var(--accent-1);
    border: solid 3px black;
    border-radius: 1rem;
}

.accent-2 {
    padding: 1rem;
    background-color: var(--accent-2);
    border: solid 3px black;
    border-radius: 1rem;
}

.money-green1 {
    padding: 1rem;
    background-color: var(--money-green1);
    border: solid 3px black;
    border-radius: 1rem;
}

.money-green2 {
    padding: 1rem;
    background-color: var(--money-green2);
    color: var(--text-light);
    border: solid 3px black;
    border-radius: 1rem;
}

.text-light {
    padding: 1rem;
    background-color: var(--text-light);
    border: solid 3px black;
    border-radius: 1rem;
}

.main-title {
    background-color: var(--background-dark);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 100%;
    margin: 0px auto;
    padding: 0.5rem;
    color: var(--text-light);
    text-align: center;
}

.nav-grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
        "logo nav blank"
        "logo btc-price btc-price";
}

.logo {
    grid-area: logo;
}

nav {
    grid-area: nav;
}

/* 
.nav-page-home {
    grid-area: home;
}

.nav-page-comparisons {
    grid-area: comparisons;
}

.nav-page-history {
    grid-area: history;
} */

.btc-price {
    grid-area: btc-price;
    text-align: left;
    padding: 1rem;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
}


.btc-price-span {
    color: var(--money-green2);
    text-decoration: underline;
    text-decoration-color: var(--money-green1);
}

.nav-page {
    background-color: var(--accent-2);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    border: none;
    font-family: var(--font);
    margin-top: -8px;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    cursor: pointer;
    border-inline: 0px solid rgb(145, 145, 145);
    transition: border-inline 0.5s;
}

.nav-page:hover {
    border-inline: 30px solid var(--accent-2);
}