/* ==== Colors === */

:root {
    --light-brown: #b59365;
    --pastel-purple: #CDB4DB;
    --pastel-green: #CDEAC0;
    --pastel-green-darker: #bacfb0;
    --pastel-green-darkest: #779483;

    --text: #1f2937;
    --bg: rgb(248, 255, 219);
    --bg2: rgb(90, 78, 88);
    --bg3: rgb(146, 126, 143);
    --border: #ddd;

    --font: "Montserrat",
        system-ui,
        -apple-system,
        Segoe UI,
        Roboto,
        Helvetica,
        Arial,
        sans-serif;
}

html,
body {
    font-family: var(--font);
}


main,
header,
nav,
footer {
    margin: 1rem;
    min-width: 300px;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}


/* ==== Header === */

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 10px;
    align-items: end;
    border-bottom: solid 4px var(--light-brown);
    column-gap: 8px;
    background-color: var(--bg2);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.page-title {
    color: black;
    text-align: center;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 0.8rem;
    background-color: #CDEAC0;
    max-width: fit-content;
    border-bottom: 8px solid var(--pastel-green-darker);
    border-left: 8px solid var(--pastel-green-darker);
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-left: 4px;
}

.logo {
    width: 4rem;
    height: auto;
    padding-left: 1rem;
}

header span {
    margin: 0 auto;
    font-size: 1.5rem;
    color: var(--pastel-green);
    font-family: var(--font);
    padding-left: 1rem;
}

/* ==== Hamburger Nav === */

.hamburger {
    background: none;
    border: none;
    color: var(--pastel-green);
    cursor: pointer;
}


.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

/* ==== Body and Cards === */
body {
    background-color: var(--bg);
}

.card {
    background-color: var(--pastel-green);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 1rem 2rem 1rem;
}

.prophet-card {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #B9B9CC;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    border: solid 2px black;
}

.prophet-card img {
    box-shadow: 0 0 1rem 0 black;
    margin: 1rem;
}

.prophet-card h2 {
    color: #4D4D96;
    font-family: Georgia, 'Times New Roman', Times, serif
}



.prophet-card p {
    margin: 2px;
}

.grid {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

/* ==== Nav === */
.navigation {
    display: none;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: var(--pastel-green-darkest);
    border-bottom: solid 4px var(--pastel-green);
    margin: 0 auto;
}

.navigation.show {
    display: block;
}

.navigation ul {
    margin: 0px;
    list-style: none;
    padding: 1rem;
}



.navigation a {
    display: block;
    color: var(--bg2);
    background-color: var(--pastel-green);
    padding: 0.8rem 10px;
    border-bottom: solid 3px var(--pastel-green-darker);
    border-left: solid 3px var(--pastel-green-darker);
    border-radius: 1rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.header-main {
    margin: 0px;
}

.header-chamber {
    margin: 0px auto;
    grid-template-columns: 4rem auto 3rem 3rem;
}

.navigation a[aria-current="page"] {
    background-color: var(--pastel-green-darker);
    border-radius: 1rem;
}

.navigation a:hover {
    background-color: var(--bg);
    transition: background-color 200ms ease, color 200ms ease;
}

/* ==== Home Page Content === */


h2 {
    background: var(--pastel-green-darker);
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    border-radius: 1rem;
    max-width: fit-content;
    text-align: center;
    margin: 0 auto;
    border-bottom: solid 3px var(--bg2);
    border-left: solid 3px var(--bg2);
}

.card p {
    margin-bottom: 0.1rem;
    padding-bottom: 0.5rem;
    border-bottom: double 25px var(--pastel-green-darker);
}

.card img {
    display: block;
    width: 100%;
    height: auto;
    padding-top: 1rem;
}

.card button {
    color: black;
    background-color: var(--border);
    border-radius: 0.4rem;
    border: 2px solid var(--bg2);
    width: 4rem;
    cursor: pointer;

}

.card button:hover {
    background-color: white;
}

.is-hidden {
    display: none;
}

.classes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: start;
    align-content: start;
}

.visible,
.visible h2 {
    background-color: var(--bg3);
    margin: 0px;
    border-radius: 0.5rem;
    padding: 10px;
    width: auto;
    height: auto;
    text-align: center;
    border-bottom: solid 3px var(--bg2);
    border-left: solid 3px var(--bg2);
}

.classes h3.not-taken {
    background-color: var(--border);
}

.btn-row {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

/* === Chamber of Commerce Home Page === */

.keynote-hero {
    max-width: 1200px;
    position: relative;
}

.keynote-hero h2 {
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: 3rem;
    background-color: var(--pastel-green-darker);
    font-size: 1.2rem;
    border: none;
}

.keynote-hero img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 1rem;
    border-bottom: solid 5px var(--bg2);
    border-left: solid 5px var(--bg2);
}

.join-container {
    display: block;
    background-color: #bacfb0;
    border-radius: 5px;
    border-right: solid 4px var(--pastel-green-darkest);
    border-bottom: solid 4px var(--pastel-green-darkest);
    margin-bottom: 1rem;
}

.join-container h2 {
    background-color: var(--pastel-green);
    border-radius: 5px;
    border-left: solid 4px var(--pastel-green-darkest);
    border-bottom: solid 4px var(--pastel-green-darkest);
    margin-top: 1rem;
    margin-left: 0px;
    padding: 10px;

}

.join-container h3 {
    margin-left: 0;
    width: fit-content;
    padding: 8px;
    text-decoration-line: underline;
    padding-top: 0px;
}

.join-container p {
    padding-left: 10px;
}

.join-container button {
    background-color: var(--pastel-green-darkest);
    border: 1px solid black;
    padding: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 200ms ease, color 200ms ease;
}

.join-container button:hover {
    background-color: var(--bg);
}

.events h2 {
    margin-bottom: 1rem;
}

.events-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    background-color: var(--bg3);
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.event-item {
    border: solid 1px black;
    border-radius: 1rem;
    background-color: var(--pastel-green-darker);
    margin: 0.5rem;
    padding: 0.5rem;
}

.weather {
    display: flex;
    max-width: 600px;
    margin: 0 auto;
}

.current-weather-col1 img {
    display: block;
    margin: 0 auto;
}

figure {
    margin: 0px;
}

figcaption {
    font-size: 200%;
    text-align: center;
    background-color: #e7e7e7;
    border-bottom: 2px solid black;
    border-radius: 1rem;
    padding: 0.5rem;
}

.current-weather-col1,
.current-weather-col2 {
    margin: 0.5rem;
    padding: 1rem;
    background-color: var(--border);
    border-radius: 1rem;
    border-left: 3px solid rgb(167, 164, 164);
    border-bottom: 3px solid rgb(167, 164, 164);
    flex: 1;
}


.current-weather-col2 p,
.current-weather-col2 h3 {
    margin-top: 0px;
}

.temperature {
    font-size: 1.5rem;
    text-align: left;
}

.forecast {
    margin: 0px auto;
    background-color: var(--border);
    border-radius: 1rem;
    border-bottom: solid 2px #1f2937;
    border-left: solid 2px #1f2937;
    max-width: 586px;
    min-width: 400px;
}

.forecast div p {
    width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
}

.weather-forecast {
    padding-top: 1rem;
    margin: 0.5rem;
}


.businesses {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    background-color: var(--bg2);
    border-radius: 1rem;
    min-width: 400px;
    max-width: 936px;
}


.spotlight-business,
.premium-business {
    background-color: var(--pastel-green-darker);
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 1rem;
    min-width: 300px;

}

.spotlight-business img,
.premium-business img {
    background-color: white;
    border-radius: 1rem;
}

.spotlight-business h2,
.premium-business h2 {
    background-color: var(--pastel-green);
}

.spotlight-business a:hover,
.premium-business a:hover {
    color: var(--pastel-green-darkest);
}



/* === Chamber of Commerce Directory Page === */


#directory-cards.directory-cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    gap: 2rem;
}

#directory-cards.directory-cards-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

#directory-cards.directory-cards-list .directory-card {
    display: grid;
    grid-template-columns: 110px 1fr;
    align-items: center;
    margin: 0px;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: none;
    border-radius: 0px;
}

#directory-cards.directory-cards-list .directory-card img {
    display: none;
}

#directory-cards.directory-cards-list .directory-card h2 {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    margin: 0px;
    padding: 0px;
    margin-right: 10px;
    justify-self: end;
    text-align: right;
}

#directory-cards.directory-cards-list .directory-card .information-div {
    display: block;
    border-left: 3px solid black;
    padding-left: 10px;
    background-color: var(--pastel-green);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-right: 5px solid var(--pastel-green-darker);
    border-bottom: 4px solid var(--pastel-green-darker);
    box-shadow: 1px 3px 4px 2px rgba(0, 0, 0, 0.5);
}



.directory-card {
    margin: 2rem auto;
    margin-bottom: 0px;
    margin-top: 5px;
    padding: 0.5rem;
    background-color: var(--pastel-green-darker);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    border: solid 2px black;
    width: 95%;
}

.directory-card h2 {
    margin-top: 0.5rem;
    background-color: var(--light-brown);
    width: 250px;
}

.directory-card img {
    background-color: white;
    border-radius: 1rem;
    margin: 1rem;
    padding: 8px;
}

.grid-button,
.list-button {
    background-color: var(--bg);
    border: none;

}


button img {
    padding-top: 1rem;
    width: 3rem;
    height: auto;
    cursor: pointer;
}



/* ==== Footer === */

footer a,
footer li,
footer ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.footer-links li {
    list-style: none;
}

.footer-links ul {
    display: flex;
}

.footer-links img {
    width: 4rem;
    height: auto;
}

footer p {
    text-align: center;
    margin: 3px;
}


.completed {
    background-color: var(--border);
}