@media only screen and (min-width: 38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
        justify-content: space-evenly;
    }

    .navigation a {
        border: none;
    }

    .card {
        max-width: 400px;
    }

    .home-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .photo-card {
        grid-row: span 2;
    }

}